{% extends 'pages/index.html' %}
{% load static %}
{% block body_block%}

<div class="container p-3">
    <h1>login Form </h1>
<hr>
    <div class="row">
        <div class="col-lg-8 bg-secondary p-3 rounded">
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-dark" type="submit" value="login">
                </form>
                </div>
            
        </div>

    </div>
</div>
{% endblock %}

 