{% extends 'pages/index.html' %}
{% load static %}
{% block body_block%}

<div class="container p-3">
    <h1>Filter data using some condition </h1>
    
<hr>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>job</th>
        <th>Salary</th>
        <th>Address</th>
    </tr>
    {% for i in o%}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.email}}</td>
        <td>{{i.job}}</td>
        <td>{{i.salary}}</td>
        <td>{{i.address}}</td>
        
    </tr>

    {% endfor%}
</table>
    
</div>
{% endblock %}

 