{% extends 'pages/index.html' %}
{% load static %}
{% block body_block%}

<style>
    input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px #aaa;
}

input[type="text"]:invalid, input[type="number"]:invalid {
  border-color: red;
}

</style>
<div class="container p-3">
    <h1>CBV Update Employee record</h1>
<hr>
    <div class="row">
        <div class="col-lg-8 bg-secondary p-3 rounded">
            <div class="form-group">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-dark" type="submit" value="Update">
                </form>
                </div>
            
        </div>

    </div>
</div>
{% endblock %}